.products_container {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.card {
  width: 13rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card_img {
  width: 10rem;
  height: 10rem;
  margin-top: 0.5rem;
}
.card_content {
  width: 70%;
}
